.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
PUBLISHING.md
TESTING.md
WHY_VS_CODE.md
QUICKSTART.md
SUCCESS.md
CrossTabWorkingQuery.vpax
.git/**
.github/**
